.window {
    border-width: 0px;
    border-color: rgba(224, 224, 224, 0);
    color: #ffffff;
}

.button {
    border-radius: 5px 5px 5px 5px;
    border-color: #ffffff;
    font-size: 12px;
    color: #000000;
    background: #cdcdcd;
    border-width: 1.5px;
}

.button:hover {
    text-shadow: 3px 3px 5px alpha(black, 0.75);
    -gtk-icon-shadow: 3px 3px 5px alpha(black, 0.75);
    box-shadow: 3px 3px 5px alpha(black, 0.5) inset;
    border: solid 1px alpha(black, 0.75);
}

.button:active {
    padding:2px 4px 4px 2px;
    text-shadow: 1px 1px 2.5px alpha(black, 0.6);
    -gtk-icon-shadow: 1px 1px 2.5px alpha(black, 0.6);
}

.check1 {
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    color: #ffffff;
    border-width: 1px;
}

.check1:active {
    padding: 3px 1px 1px 3px;
    text-shadow: 1px 1px 2.5px alpha(black, 0.6);
    -gtk-icon-shadow: 1px 1px 2.5px alpha(black, 0.6);
}

.entry:active {
    padding: 11px 9px 9px 11px;
    text-shadow: 1px 1px 2.5px alpha(black, 0.6);
    -gtk-icon-shadow: 1px 1px 2.5px alpha(black, 0.6);
}

.lineTabl {
    background: #f0f8ff;
}

.frame {
    color: #f0f8ff;
}

.view {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}